@font-face {
  font-family: "Helios";
  src: url("/public/fonts/HeliosExtC_Regular.otf");
}

@font-face {
  font-family: "Helios Bold";
  src: url("/public/fonts/HeliosExtC_Bold.otf");
}

body {
  background-color: #181818;
  font-family: "Helios";
}

@media print {
  .no-print {
    display: none !important;
  }
}

/* Controls */
.controls {
  display: flex;
  gap: .5rem;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
  .controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    flex-wrap: nowrap;
  }
}

.controls button {
  background: black;
  border: none;
  color: rgb(206, 206, 206);
  padding: .5rem 1rem;
  cursor: pointer;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.controls button:hover {
  color: white;
}

.controls select {
  border: none;
  outline: none;
  cursor: pointer;
  padding: .5rem 1rem;
  background: black;
  color: rgb(206, 206, 206);
}

/* Wallet paper 
.wallet-paper {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}*/